/* //all h tags to be black  */

h3, h4, h5, h6, h1, h2, p{
    color: black;
}

.black-background {
  background-color: black; /* Set background to black */
  color: white; /* Set text color to white for visibility */
  min-height: 100vh; /* Make sure it covers the whole viewport height */
}

.main-content {
  padding-bottom: 50px; /* Adjust this value based on the actual height of your footer */

}

/* Ensure the footer has a consistent height */
.navbar.fixed-bottom {
  height: 50px; /* Adjust this value based on your design */

}

@keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Adjust the scale value to control the zoom level */
    }
  }